
html{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.sec-tittle{
  text-align: center;
}

/* ヘッダー */

.home{
  font-size: 25px;

}

#header{
 display: flex;
 max-width: 960px;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 padding: 0.4%;
 height:270px;
}

#header nav > ul{
  display: flex;
}

#header nav > ul >li{
  margin-left: 30px;
}

.icon{
 width: 20px;
}

/* メイン写真 */

#mainvisual{
  width:100%;
  max-width: 1920px;
}
#mainvisual > img{
  width: 100%;
  height: 450px;
  max-width: 1920px;
  object-fit: cover;
}

/* aboutセクション */
.sec-tittle{
  margin:50px 0;
}

#about{
  font-size: 0.9rem;
}

#about li:first-child {
  margin-bottom: 30px;
}

/* worksセクション */

#works >ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#works >ul >li{
  width: 31%;
}

#works >ul >li >img{
  width:100%;
}

/* ニュース */
.wrapper{
  max-width: 960px;
  padding: 0.4%;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
}
#news >dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#border-top{
  border-top: solid  1px #c8c8c8;
  padding: 10px 0;
}
.border-bottom{
  border-bottom: solid  1px #c8c8c8;
  padding: 10px 0;
}

/* フォーム */

 #contact> form >dl{
  display:flex;
  flex-wrap: wrap;
}

form > dl>dt{
  width: 15%;
}

form > dl> dd  {
  width: 85%;
  margin-bottom: 10px;
  margin-left:0;
}

form > dl > dd>input{
  width: 100%;
  padding: 10px;
  border: solid 1px #c8c8c8;
}

#message{
  width:100%;
  height: 10rem;
  padding: 10px;
  border: solid 1px #c8c8c8;
}


#submit{
  text-align: center;
}

#submit > input{
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
}

footer{
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: 0.5rem;
  padding:10px 20px;
}

@media screen and (max-width: 600px){

  #header{
    max-width: 100%;
    height: auto;
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
  }

#works >ul{
 flex-direction: column;
}

#works > ul >li{
  width: 100%;
}

  

.news{
  font-size:20px;
}

}
